* {
    font-family: "inter";
}

body {
    background-color: #f7f7f7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh 1.4vw;
    background-color: #fff;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.logo > img {
    margin-left: 6.5vw;
    max-width: 30vh;
	height: auto;
}

.cabecalho .menu {
    
    align-items: center;
    gap: 76vh 36vw;
}


.cabecalho .menu ul {
    display: flex;
    justify-content: center;
    margin-right: 29vw;
    font-weight: bold;
}

.cabecalho .menu li {
    margin-left: 3.3vw;
    color: black;
}

.cadas-oficina-nav {
    color: #00A1FC;
}

.informacoes {
    text-align: center;
    margin-top: 1.3889vh;
}

.form {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.form-group {
    margin-bottom: 1.3889vh;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 0.6944vh;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 36.3889vw;
    padding: 1.3889vh;
    border: 0.0694vw solid black;
    border-radius: 0.3472vw;
    font-size: 1.1111vw;
    color: #333;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 1.3889vh 2.7778vw;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.3472vw;
    font-size: 1.1111vw;
    cursor: pointer;
    border-left: 6.9444vw;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}