* {
    font-family: "inter";
}

body {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh 1.4vw;
    background-color: #fff;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.logo > img {
    margin-left: 6.5vw;
    max-width: 30vh;
    height: auto;
}

.cabecalho .menu {
    align-items: center;
    gap: 76vh 36vw;
}

.cabecalho .menu ul {
    display: flex;
    justify-content: center;
    margin-right: 29vw;
    font-weight: bold;
}

.cabecalho .menu li {
    margin-left: 3.3vw;
    color: black;
}

.cadas-oficina-nav {
    color: #00A1FC;
}

.informacoes {
    text-align: center;
    margin-top: 1.3889vh;
}

.form {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.form-group {
    margin-bottom: 1.3889vh;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 0.6944vh;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 36.3889vw;
    padding: 1.3889vh;
    border: 0.0694vw solid black;
    border-radius: 0.3472vw;
    font-size: 1.1111vw;
    color: #333;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 1.3889vh 2.7778vw;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.3472vw;
    font-size: 1.1111vw;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#mensagem-sucesso {
    display: none; /* Inicialmente oculto */
    padding: 10px 20px;
    background-color: #00A1FC; /* Cor de fundo azul */
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px; /* Ajuste a margem superior conforme desejado */
}

@media (max-width: 1024px) {
    .formulario {
        width: 90%;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .cabecalho .menu ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .cabecalho .menu li {
        margin: 10px 0;
    }

    .logo > img {
        margin-left: 0;
        max-width: 20vh;
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
        font-size: 1rem;
    }

    input[type="submit"] {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }

    .cabecalho .menu {
        gap: 20px 10px;
    }

    header {
        padding: 1vh 1vw;
    }

    .cabecalho .menu ul {
        margin-right: 0;
    }
}
