* {
    font-family: "inter";
}

body {
    background-color: #f7f7f7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh 1.4vw;
    background-color: #fff;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.logo > img {
    margin-left: 6.5vw;
    max-width: 30vh;
	height: auto;
}

.cabecalho .menu {
    
    align-items: center;
    gap: 76vh 36vw;
}


.cabecalho .menu ul {
    display: flex;
    justify-content: center;
    margin-right: 29vw;
    font-weight: bold;
}

.cabecalho .menu li {
    margin-left: 3.3vw;
    color: black;
}

.oficina-nav {
    color: #00A1FC;
}

.home{
    display: flex;
}

.home > img{
    margin-top: 1.3889vh;
    max-width: 59.625vw;
    height: 25.1111vh;
}

.maps {
    margin-left: 9.7222vw;
}

.informacoes   {
    margin-left: -51.3889vw;
    margin-top: 51.1111vh;
}

.top-box {
    background-color: gray;
    width: 65.9722vw;
    height: 2.7778vh;
    border-radius: 1.3889vw;
    align-content: center;
    text-align: center;
    margin-top: 1.3889vh;
    margin-left: 9.7222vw;
}

.right-box {
    position: fixed;
    background-color: gray;
    width: 14.5833vw;
    height: 55.5556vh;
    text-align: center;
    border-radius: 0.6944vw;
    right: 19.4444vw;
    top: 15.5556vh;
}

