* {
    font-family: "inter";
}

body {
    background-color: #f7f7f7;
}
.cabecalho {
    display: flex;
    padding: 5px 80px;
    background-color: #fff; 
}

.logo > img {
    margin-left: 6.5vw;
    max-width: 30vh;
	height: auto;
}

.cabecalho .menu {
    
    align-items: center;
    gap: 76vh 36vw;
}


.cabecalho .menu ul {
    display: flex;
    justify-content: center;
    margin-right: 29vw;
    font-weight: bold;
}

.cabecalho .menu li {
    margin-left: 3.3vw;
    color: black;
}

.intgrantes-nav {
    color: #00A1FC;
}

.informacoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.6944vw;
    align-items: center;
    justify-content: center;
    margin-top: 13.8889vh;
}

.Lucas p {
    margin-top: 1.3889vh;
    margin-left: 13.8889vw;
}

.Lucas > img {
    width: 17.3611vw;
    height: 17.3611vw;
    border-radius: 12.5vw;
    margin-left: 12.5vw;
}

.Oscar p {
    margin-top: 1.3889vh;
    margin-left: 10.4167vw;
}

.Oscar > img {
    width: 17.3611vw;
    max-height: 17.3611vw;
    border-radius: 12.5vw;
    margin-left: 6.9444vw;
}

.Nicolas p {
    margin-top: 1.3889vh;
    margin-left: 2.2222vw;
}

.Nicolas > img {
    width: 17.3611vw;
    height: 17.3611vw;
    border-radius: 12.5vw;
}

