* {
    font-family: "inter";
}

body {
    background-color: #f7f7f7;
}

.cabecalho {
    display: flex;
    padding: 5px 80px;
    background-color: #fff; 
}

.logo > img {
    max-width: 200px;
	height: auto;
}

.cabecalho .menu {
    align-items: center;
    gap: 500px;
}


.cabecalho .menu ul {
    display: flex;
    justify-content: center;
    margin-left: 180px;
    font-weight: bold;
}

.cabecalho .menu li {
    margin-left: 46px;
}

.pecas-nav {
    color: #00A1FC;
}